extends layout

block content
    h1 Index

    ul
        li
            a.button.margin-bottom(href='/websites') Manage Websites
        li
            a.button.margin-bottom(href='/users') Manage Users
