extends layout

block content
    h1 Index

    ul
        li
            a(href='/websites') Manage Websites
        li
            a(href='/users') Manage Users
        li Manage Hostnames
            // a(href='/hostnames') Manage Hostnames
        li Manage Domains
            // a(href='/domains') Manage Domains
