a.button.margin-bottom.indented(href='/' data-hook='async-link') < back

h1.indented Manage Websites

ul.admin-list
    li.admin-list-title.admin-list-item
        span.third hostname
        span.third owner
        span.third created
    each website in data
        li.admin-list-item
            a(href='/websites/#{website._id}' data-hook='async-link')
                span.third= website.hostname.name
                span.third= website.owner.name
                span.third= moment(website.createdAt).format('D.M.YYYY HH:mm:ss')

// a.indented.button(href='/websites/add' data-hook='async-link') Create new website
